body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 38px;
  line-height: 37px;
  font-weight: 300;
}
h2 {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: right;
}
h2:hover {
  text-decoration: underline;
}
h3 {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  float: none;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
p {
  margin-right: 16px;
  margin-bottom: 15px;
  color: #9ea8a4;
  font-size: 14px;
  line-height: 23px;
}
.button {
  display: inline-block;
  padding: 14px 26px;
  background-color: #25c485;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #b5b5b5;
}
.header {
  height: 530px;
  background-image: url('../images/Attachment-1 (1).jpeg');
  background-position: 50% 39%;
  background-size: cover;
  box-shadow: black 0px 3px 0px 0px inset;
}
.header.sub-page {
  background-image: url('../images/profile-dude-blue.jpg');
  background-position: 50% 100%;
}
.section {
  padding-top: 65px;
  padding-bottom: 65px;
}
.section.grey {
  background-color: #f0f0f0;
}
.section.green {
  background-color: #32a879;
  color: black;
}
.section.green.middle {
  background-color: rgba(50, 168, 121, 0.15);
}
.nav-link {
  display: block;
  margin-bottom: 8px;
  font-family:'Roboto Condensed', sans-serif;
  color: #32a879;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  text-transform: capitalize;
}
.nav-link:hover {
  color: #166bcc;
}
.navigation {
  position: fixed;
  z-index: 10;
  padding: 33px 19px 38px;
  border-top: 3px solid #25c485;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;
}
.logo {
  margin-bottom: 22px;
  font-size: 33px;
  line-height: 36px;
  font-weight: 300;
  text-align: right;
  text-transform: capitalize;
}
.align-right {
  padding-right: 25px;
  text-align: right;
}
.image {
  margin-bottom: 20px;
  background-image: url('../images/10309491_10152272188214262_5249959562572932927_n.jpg');
  background-repeat: repeat;
  background-attachment: scroll;
}
.thumbnail {
  margin-right: 21px;
  margin-bottom: 26px;
  padding: 7px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
}
.journal-entry {
  display: block;
  margin-bottom: 19px;
  padding: 18px 20px;
  border: 1px solid #dce6e4;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #333;
  text-decoration: none;
}
.journal-entry:hover {
  background-color: rgba(50, 168, 121, 0.05);
}
.logo-link {
  color: #333;
  text-decoration: none;
}
.field {
  height: 53px;
  border: 1px solid #d1e6dd;
  box-shadow: transparent 0px 1px 0px 0px inset;
}
.field:focus {
  border-color: #24c786;
  box-shadow: transparent 0px 0px 8px 0px inset;
}
.field.comments {
  height: 101px;
}
.success {
  padding: 47px;
  background-color: #e3e3e3;
  color: black;
  text-align: center;
}
.contact {
  float: none;
}
.underexperience {
  width: auto;
  height: auto;
  padding-top: 0px;
}
.portrait {
  margin-right: 15px;
  margin-left: 24px;
  padding-right: 0px;
  padding-left: 0px;
  float: right;
}
.row {
  margin-right: 95px;
  margin-left: 93px;
  padding-left: 0px;
}
@media (max-width: 991px) {
  h2 {
    float: none;
    text-align: right;
  }
  .align-right {
    padding-right: 10px;
  }
  .portrait {
    float: right;
  }
}
@media (max-width: 767px) {
  h3 {
    float: none;
  }
  .header {
    height: auto;
    background-attachment: scroll;
  }
  .section {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .navigation {
    position: static;
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: transparent 0px 0px 0px 1px;
  }
  .align-right {
    text-align: left;
  }
  .thumbnail {
    margin-right: 14px;
    margin-bottom: 15px;
  }
  .portrait {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 479px) {
  h3 {
    float: none;
  }
}

